[project]
	description = Copyright Header is a utility to manipulate licenses on source code. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Santiago Saavedra (ssaavedra)
[access "refs/for/refs/*"]
	read = group user/Santiago Saavedra (ssaavedra)
	push = group user/Santiago Saavedra (ssaavedra)
	label-Code-Review = -2..+2 group user/Santiago Saavedra (ssaavedra)
	label-Verified = -1..+1 group user/Santiago Saavedra (ssaavedra)
	rebase = group user/Santiago Saavedra (ssaavedra)
	removeReviewer = group user/Santiago Saavedra (ssaavedra)
	submit = group user/Santiago Saavedra (ssaavedra)
[access "refs/heads/*"]
	read = group user/Santiago Saavedra (ssaavedra)
	create = group user/Santiago Saavedra (ssaavedra)
	push = +force group user/Santiago Saavedra (ssaavedra)
	pushMerge = group user/Santiago Saavedra (ssaavedra)
[access "refs/tags/*"]
	push = +force group user/Santiago Saavedra (ssaavedra)
	pushTag = group user/Santiago Saavedra (ssaavedra)
	pushSignedTag = group user/Santiago Saavedra (ssaavedra)
